html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Aileron", sans-serif;
  font-size: 16px;
  min-width: 1320px;
}

.content-wrapper {
  width: 1100px;
  margin: 0 auto;
}

.content-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

p {
  font-weight: 400;
  color: #54565A;
}

h1 {
  font-size: 50px;
  font-weight: 800;
  color: #fff;
}

h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2C2E30;
}

h3 {
  font-size: 24px;
  font-weight: 700;
  color: #2C2E30;
}

.site-logo {
  padding: 10px;
  transition: 0.4s;
}

.site-logo img {
  width: 123px;
  height: auto;
}

.site-logo:hover {
  opacity: 0.8;
}

.site-logo, .main-nav {
  margin-top: 50px;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  display: inline;

  margin: 0;
  padding: 0;
}

.main-header .site-logo {
  float: left;
  width: 123px;
  height: auto;
}

.main-nav {
  float: right;
}

.main-nav li ul {
  display: none;
}

.main-nav li {
  margin-right: 35px;
}

.main-nav a {
  padding: 15px 10px;
  transition: 0.4s;
}

.main-nav li:last-of-type {
 margin: 0;
}

.main-nav li,
.main-nav a,
.site-logo a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.main-header {
  min-height: 870px;
  box-sizing: border-box;
  background-image: url(img/header-bg.svg);
  background-position: center top;
  background-size: cover;
}

.button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: 0.6s;
}

.button:focus {
  outline: none!important;
}

.btn-get-start {
  font-size: 16px;
  font-weight: 600;
  color: #2F5BEA;
  background-color: #fff;
  padding: 17px 22px;
}

.nav-btn a {
  padding: 0;
}

.btn-get-start:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.btn-get-start:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

.main-nav a:hover {
  color: #e3e3e3;
}

.list-item:hover ul {
  display: block;
  position: absolute;
  left: 0;
  margin-top: 5px;
  border-radius: 4px;
  overflow:hidden;
  white-space: nowrap;
}

.list-item {
  position: relative;
  padding: 22px 10px!important;
}

.list-item li {
  display: block;
  margin: 0;
  padding: 15px;
  padding-right: 20px;

  font-size: 16px;
  background-color: #e3e3e3;
  border-bottom: 1px solid #d0d0d0;
}

.list-item a {
  color: #888888;
  transition: 0.4s;
}

.list-item a:hover  {
  color: #5d5d5d;
}

.list-item::after {
  content: "ˬ";
  font-size: 25px;
  margin-left: 5px;
  bottom: 0.35em;
  position: relative;
  display: inline-block;
}

.header-content {
  display: flex;
  justify-content: space-between;
  width: 518px;
  margin-top: 135px;
}

.header-content .slogan {
  width: 450px;
}

.header-content p {
  font-size: 17px;
  color: #C5D0E6;
  line-height: 180%;
  margin-bottom: 35px;
}

.header-content h1 {
  margin-top: 10px;

}

.header-illustration img {
  width: 650px;
  margin-left: 110px;
}

.email-subscribtion {
  width: 450px;
  font-size: 0;
}

.email-subscribtion form {

}
.email-subscribtion input[type="email"] {
  padding: 25px;
  width: 70%;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  border: none;
  border-right: 1px solid #E7EAEE;
  border-radius: 5px 0 0 5px;
  box-sizing: border-box;
}

.email-subscribtion input[type="email"]:focus {
  outline: 0;
  background-color: #f0f3ff;
}

.email-subscribtion button[type="submit"] {
  padding: 25px 5px;
  width: 30%;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  color: #2F5BEA;
  background-color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  transition: 0.2s;
  -webkit-appearance: none;

}

.email-subscribtion button[type="submit"]:hover {
  outline: 0;
  background-color: #f0f3ff;
  -webkit-appearance: none;
}

.email-subscribtion button[type="submit"]:focus {
  outline: 0;
  background-color: #d0d9ff;
  -webkit-appearance: none;
}
.subtext-sub {
  display: block;
  margin-top: 16px;

  font-size: 14px;
  color: #C5D0E6;
}

.main-benefits {
  display: block;
  min-height: 480px;
  text-align: center;
  margin-top: 100px;
}

.pre-title {
  text-transform: uppercase;
  color: #7E8085;
  font-size: 16px;
  font-weight: bold;
}

.main-benefits h2 {
  margin: 20px 0 40px;
  font-size: 30px;
  font-weight: bold;
  line-height: 140%;
  color: #2C2E30;
}

.benefits-list {
  display: flex;
  justify-content: space-between;
}

.benefits-item {
  position: relative;
  width: 350px;
  text-align: left;
  color: #54565A;
  line-height: 150%;
}

.mrk-blue {
  color: #2F5BEA;
}

.benefits-item img {
  position: absolute;
  width: 37px;
  height: auto;
  left: 0;
  top: 18px;
}

.benefits-item h3 {
  margin-left: 45px;
}

.main-benefits hr {
  border: 1px solid #E7EAEE;
  margin: 100px 0;
}

.video-block {
  margin-bottom: 135px;
}

.vid-info {
  width: 43%;
}

.vid-info a {
  text-decoration: none;
  color: #2C2E30;
}

.vid-info p {
  line-height: 190%;
}

.btn-video {
  position: relative;
  font-size: 18px;
  font-weight: bold;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 10px;
  margin-top: 35px;
  background-color: transparent;
  border-radius: 0;
  border-bottom: 5px solid transparent;

}

.btn-video::after{
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 4px;
  width: 100%;
  background: #2F5BEA;
  transition: 0.4s;
}

.btn-video:hover::after {
  width: 20%;

}

.btn-video img {
  width: 18px;
  height: auto;
  margin-left: 10px;
}

.video-block video {
  border-radius: 10px;
  object-fit: fill;
}

.video-block video:focus {
  outline: none;
}

.video-block {
  display: flex;
  justify-content: space-between;
}

.video-block .pre-title {
  display: block;
  margin-top: 15px;
  margin-bottom: 0;
}

.use-mobile-info {
  width: 350px;

}

.use-mobile-block {
  background: linear-gradient(to bottom, #2F5BEA, #2F5BEA 85%, #ffffff 85%, #ffffff);
  border-top: 1px solid #2F5BEA;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.use-mobile-block span,
.use-mobile-block p {
  color: #C5D0E6;
}

.use-mobile-block p {
  line-height: 160%;
}

.use-mobile-block h2 {
  margin-top: 5px;
  color: #fff;
}

.use-mobile-block .block-3 {
  width: 350px;
  min-height: 270px;
  margin-left: 10px;

}

.mobile-prewiew img {
  width: 380px;
  height: auto;
  margin-top: 60px;
}

.mobile-layout {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block-3 ul{
  position: absolute;
  white-space: nowrap;
  padding: 0;
  list-style: none;
  color: #7F99ED;
}

.block-3 li {
  display: inline-block;
  margin-right: 85px;
  font-size: 18px;
  font-weight: bold;
}

.features-list .active {
  color: #fff;
}

.btn-mobile-before,
.btn-mobile-after {
  padding: 15px;
  font-size: 17px;
  line-height: 1;
  border-radius: 50%;
  margin-bottom: 20px;
}

.btn-mobile-before {
  margin-right: 5px;
  padding-left: 14px;
  padding-bottom: 13px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-mobile-after {
  padding-right: 14px;
  padding-bottom: 13px;
  background-color: #fff;
  color: #2F5BEA;
}

.active-feature {
  display: block;
  margin-top: 70px;
}
